<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Articles</title>
</head>
<body>
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Articles</h1>
    <a href="/article/create" class="inline-block bg-green-500 text-white py-2 px-4 rounded mb-4 hover:bg-green-700">Create
        New Article</a>
    <ul class="mt-4">
        {% for article in articles %}
            <li class="mb-2">
                <a href="/article/{{ article.id }}" class="text-blue-500 hover:underline">{{ article.title }}</a>
                <p>{{ article.content|slice(0, 100) }}...</p>
                <p>Likes: {{ article.likes }}</p>
                <a href="/article/edit/{{ article.id }}"
                   class="inline-block bg-yellow-500 text-white py-1 px-3 rounded ml-2 hover:bg-yellow-700">Edit</a>
                <form action="/article/delete/{{ article.id }}" method="POST" class="inline-block">
                    <button type="submit" class="inline-block bg-red-500 text-white py-1 px-3 rounded hover:bg-red-700">
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>